[submodule "Team 2 - Predictive Maintenance System (Time Series)"]
	path = Team 2 - Predictive Maintenance System (Time Series)
	url = https://github.com/Sarthak-Nagave/Predictive_Maintenance_System_-Time-Series-.git
